name: Build And Deploy
on:
  push:
    branches:
     - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
    
      - name: Install Dependencies
        run: npm ci


      - name: Build Vue Project
        run: npm run build

      - name: Upload to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_DEPLOY_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "dist/"
          target: "/tmp/admin_dist/"

      - name: Sync to web root
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_DEPLOY_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p /www/wwwroot/admin.xbzhong.cn
            rsync -av --delete /tmp/admin_dist/dist/ /www/wwwroot/admin.xbzhong.cn/
            rm -rf /tmp/admin_dist