name: Build And Deploy
on:
  push:
    branches:
     - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
    
      - name: Install Dependencies
        run: npm install


      - name: Build Vue Project
        run: npm run build

      - name: Upload to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_DEPLOY_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "./dist"
          target: "/www/wwwroot/admin.xbzhong.cn/"
